* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.content {
  height: 892px;
  display: flex;
  overflow: hidden;
  font-family: Arial;
  color: #383838;
  border-radius: 42.5px;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.13);
}

.content-left {
  display: flex;
  background-color: #ffd500;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  line-height: 1.53;
}
.content-left .container {
  width: 238px;
  height: 238px;
  border-radius: 50%;
  overflow: hidden;
}
.content-left .container__image {
  transition: all 0.25s ease-in-out 0.25s;
  width: 100%;
  height: 100%;
  background-image: url("../img/profile.svg");
  background-size: contain;
}
.content-left .container__image:hover {
  width: 125%;
  height: 125%;
  margin-left: -12.5%;
  margin-top: -20%;
}

.expand-arrow {
  transition: all 0.25s ease-in-out 0.25s;
}

.rotate {
  transform: rotate(-180deg);
}

.content-right, .content-right__panel {
  flex-direction: column;
  height: inherit;
}

.content-right__panel {
  background-color: #ff9200;
  border-radius: 0px 42.5px 42.5px 0px;
  color: #373d40;
  position: absolute;
  justify-content: center;
  display: none;
  padding: 241px 80px 250px 80px;
  line-height: 1.53;
  z-index: 1;
}

.form-item, .form-item--membership, .form-item--gender {
  color: #373d40;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  position: relative;
}
.form-item span, .form-item--membership span, .form-item--gender span {
  display: flex;
}
.form-item--button {
  margin: 80px 0 0;
  display: flex;
  justify-content: flex-end;
}
.form-item + .form-item, .form-item--membership + .form-item, .form-item + .form-item--membership, .form-item--membership + .form-item--membership, .form-item--gender + .form-item, .form-item--gender + .form-item--membership, .form-item + .form-item--gender, .form-item--membership + .form-item--gender, .form-item--gender + .form-item--gender {
  padding-top: 20px;
}

.form-item--gender {
  grid-template-columns: 125px auto auto;
}

.form-item--membership {
  margin: 40px 0 0;
  grid-template-columns: 125px auto auto auto;
}

.form-item__input-icon {
  position: absolute;
  top: 22px;
  right: 0;
  padding: 15px;
}

.form-item__label {
  font-size: 16px;
  text-align: left;
}

.form-item__input {
  transition: all 0.25s ease-in-out 0.25s;
  height: 53px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #373d40;
  border-radius: 5.3px;
  background-color: #f5f8f9;
  border: solid 1px #f5f8f9;
  padding: 20px;
}
.form-item__input:focus {
  background-color: rgba(245, 248, 249, 0.3);
  border: solid 1px #cad7dd;
}
.form-item__input:hover {
  border: solid 1px #cad7dd;
}
.form-item__input-button {
  transition: all 0.25s ease-in-out 0.25s;
  border-radius: 5.3px;
  width: 160px;
  height: 53px;
  outline: none;
  border: none;
  font-size: 15px;
}
.form-item__input-button[type=reset] {
  background-color: #f5f8f9;
  color: #373d40;
}
.form-item__input-button[type=reset]:hover {
  background-color: #cad7dd;
}
.form-item__input-button[type=submit] {
  background-color: #60e6c5;
  color: #ffffff;
}
.form-item__input-button[type=submit]:hover {
  background-color: #49c8a8;
}

.radio {
  visibility: hidden;
  position: absolute;
}
.radio:checked + .radio-gender--male {
  background-color: #b1bfcd;
  background-image: url("../img/male-white.svg");
}
.radio:checked + .radio-gender--female {
  background-color: #b1bfcd;
  background-image: url("../img/female-white.svg");
}
.radio:checked + .radio-membership {
  background-color: #b1bfcd;
  background-image: url("../img/card-white.svg");
}

.radio-img, .radio-membership, .radio-gender--female, .radio-gender--male {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-color: #f5f8f9;
  border-radius: 50%;
  height: 53px;
  width: 53px;
}
.radio-img:hover, .radio-membership:hover, .radio-gender--female:hover, .radio-gender--male:hover {
  background-color: #f5f8f9;
  border: solid 1.2px #b3c1ce;
}

.radio-label {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.radio-gender--male {
  background-image: url("../img/male-grey.svg");
}

.radio-gender--female {
  background-image: url("../img/female-grey.svg");
}

.radio-membership {
  background-image: url("../img/card-grey.svg");
}

input[type=radio] {
  width: 0;
}

input[type=email]:invalid {
  border: 1px solid #ff9200;
  color: #ff9200;
}
input[type=email]:invalid + *:before {
  content: "Invalid email address";
  position: absolute;
  font-size: 12px;
  color: #ff9200;
  right: 0;
  bottom: -15px;
}

input:focus {
  outline: none;
}

.space-above--med {
  margin-top: 60px;
}

.space-right--small {
  margin-right: 20px;
}

@media only screen and (min-width: 1024px) {
  .content {
    width: 975px;
  }

  .content-left {
    width: 392px;
    padding: 165px 50px 110px;
  }
  .content-left h1 {
    font-size: 24px;
  }
  .content-left p {
    font-size: 18px;
  }

  .content-right, .content-right__panel {
    width: 583px;
  }

  form {
    padding: 63px 35px 153px;
  }
}
@media only screen and (min-width: 1440px) {
  .content {
    width: 1360px;
  }

  .content-left {
    width: 553px;
    padding: 165px 80px 110px;
  }
  .content-left h1 {
    font-size: 36px;
  }
  .content-left p {
    font-size: 22px;
    line-height: 1.26;
  }

  .content-right, .content-right__panel {
    width: 807px;
  }

  form {
    padding: 111px 155px 105px;
  }
}

/*# sourceMappingURL=style.css.map */
