@import 'variables/colors'
@import 'helpers/mixins'

*
    @include box-sizing(border-box)
    
body
    margin: 0px
    display: flex
    justify-content: center

.content
    @include box-shadow(0 2px 30px 0 rgba(0, 0, 0, .13))
    margin: 20px
    height: 892px
    display: flex
    overflow: hidden
    font-family: Arial
    color: $black
    border-radius: 42.5px

.content-left
    display: flex
    flex-direction: column
    background-color: $sunflower-yellow
    align-items: center
    text-align: center
    justify-content: space-around
    line-height: 1.53
    
    .container
        width: 238px
        height: 238px
        border-radius: 50%
        overflow: hidden
        
        &__image
            width: 100%
            height: 100%
            background-image: url('../img/profile.svg')
            background-size: contain
            background-repeat: no-repeat
            transition: all .25s ease-in-out .25s

            &:hover
                width: 125%
                height: 125%
                margin-left: -12.5%
                margin-top: -20%

.content-right
    height: inherit
    
    &__panel
        height: inherit
        width: inherit
        background-color: $tangerine
        border-radius: 0px 42.5px 42.5px 0px
        color: $charcoal-grey
        position: absolute
        display: none
        padding: 241px 80px 250px 80px
        line-height: 1.53
        z-index: 1

.form-item
    color: $charcoal-grey
    display: grid
    grid-template-columns: 1fr 3fr
    align-items: center
    position: relative

    + .form-item
        padding-top: 20px

.form-item
    &__label
        font-size: 16px
        text-align: left

    &__input
        width: 100%
        padding: 20px
        font-size: 16px
        font-weight: 500
        color: $charcoal-grey
        background-color: $pale-grey
        border-radius: 5.3px
        border: solid 1px $pale-grey
        transition: all .25s ease-in-out .25s  

        &:focus
            background-color: rgba($pale-grey, .3)
            border: solid 1px $cloudy-blue
        &:hover
            border: solid 1px $cloudy-blue

        &-icon
            position: absolute
            top: 22px
            right: 0
            padding: 15px 

    &--gender
        @extend .form-item
        grid-template-columns: 125px auto auto

    &--membership
        @extend .form-item
        margin: 40px 0 0
        grid-template-columns: 125px auto auto auto
        
.radio-input
    visibility: hidden
    position: absolute

    &:checked
        + .radio-gender--male
            background-color: $cloudy-blue-two
            background-image: url("../img/male-white.svg")
        + .radio-gender--female
            background-color: $cloudy-blue-two
            background-image: url("../img/female-white.svg")
        + .radio-membership
            background-color: $cloudy-blue-two
            background-image: url("../img/card-white.svg")
    
%radio-img
    height: 53px
    width: 53px
    margin-right: 20px
    background-repeat: no-repeat
    background-position: center
    background-color: $pale-grey
    border: solid 1.2px $pale-grey
    border-radius: 50%
    transition: all .25s ease-in-out .25s  

    &:hover
        background-color: $pale-grey
        border: solid 1.2px #b3c1ce

.radio
    &-label
        display: flex
        align-items: center
        font-size: 14px

    &-gender--male
        @extend %radio-img
        background-image: url("../img/male-grey.svg")

    &-gender--female      
        @extend %radio-img
        background-image: url("../img/female-grey.svg")

    &-membership
        @extend %radio-img
        background-image: url("../img/card-grey.svg")

.form-buttons
    margin: 80px 0 0
    display: flex
    justify-content: flex-end

    button
        transition: all .25s ease-in-out .25s
        border-radius: 5.3px
        width: 160px
        height: 53px
        outline: none
        border: none
        font-size: 15px

        &[type="reset"]
            background-color: $pale-grey
            color: $charcoal-grey
            margin: 0 20px 0 0

            &:hover
                background-color: $cloudy-blue

        &[type="submit"]
            background-color: $tiffany-blue
            color: $white

            &:hover
                background-color: $greeny-blue

.expand-arrow
    transition: all .25s ease-in-out .25s

.rotate
    @include transform (rotate(-180deg))

input[type='email']:invalid
    border: 1px solid $tangerine
    color: $tangerine
    + *:before
        content: 'Invalid email address'
        position: absolute
        font-size: 12px
        color: $tangerine
        right: 0
        bottom: -15px

input:focus
    outline: none

@media only screen and (min-width: 320px) and (max-width: 1023px) //mobile & tablet
    .content
        min-width: 100%
        flex-direction: column
        border-radius: 0px
        overflow: unset
        height: auto
        margin: 0
        
    .content-left
        padding: 8% 10%
        justify-content: center

        .container
            position: relative

        .expand-arrow
            @include transform (rotate(90deg))
            
            &.rotate
                @include transform (rotate(-90deg))
               
        p
            font-size: 22px
            line-height: 1.26
        
    .content-right
        height: 1000px

        &__panel
            padding: 10%
            border-radius: 0px

        .form-item
            display: block
            &__input
                margin-top: 1%
                &-icon
                    top: unset
                    bottom: 0
                
            &--gender, &--membership
                margin-top: 0   
                .form-item__label
                    display: block
                .radio-label
                    margin-right: 5%
                    display: inline-flex
        .form-buttons
            display: block
            margin-top: 5%

        button
            width: 100%
            margin-top: 10px

        form
            padding: 8% 7%

@media only screen and (min-width: 1024px) //desktop
    .content
        width: 975px
        flex-direction: unset

    .content-left
        width: 392px
        padding: 165px 50px 110px 

        h1
            font-size: 24px

        p
            font-size: 18px

    .content-right
        width: 583px
        
        form
            padding: 63px 35px 153px 

@media only screen and (min-width: 1440px) //desktop HD
    .content
        width: 1360px
        flex-direction: unset

    .content-left
        width: 553px
        padding: 165px 80px 110px 
        
        h1
            font-size: 36px

        p
            font-size: 22px
            line-height: 1.26

    .content-right
        width: 807px
        
        form
            padding: 111px 155px 105px 